@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kalam:wght@300;400;700&family=Montserrat:wght@200;300;400;500;700&family=Mouse+Memoirs&family=Pangolin&family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    width: 100%;
    height: 110vh;
    background-image: url(../img/pizarron5.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}

.contenedor-icono {
    width: 100%;
    padding: 30px 0;
}

.contenedor-icono svg {
    width: 17%;
}
/* BOTONES EN GENERAL */
button {
    font-family: 'Pangolin', cursive;
    font-weight: 500;
    border-radius: 7px;
    border: none;
    padding: 10px 12px;
}
/* BOTONERA SECCIÓN DE INICIO */

.botonera-inicio h1 {
    width: 100%;
    padding: 30px;
    padding-top: 0;
    font-size: 60px;
    font-family: 'Pangolin', cursive;
    font-weight: bold;
    color: #FCFCF9;
}

.botones-inicio {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


.iniciar-juego {
    width: 40%;
    padding: 15px 18px;
    margin: 10px;
    border: none;
    background-color: rgb(6, 197, 245);
    color: rgb(29, 61, 70);
    transition: 0.5s;
}

.iniciar-juego:hover {
    transition: 0.5s;
    transform: scale(1.1) rotate(-2deg);
    /* box-shadow: 2px 2px 5px rgb(158, 223, 240); */
}
.agregar-palabra {
    width: 35%;
    padding: 10px 15px;
    margin: 10px;
    margin-top: 0;
    background-color: orange;
    color: rgb(105, 44, 3);
    transition: 0.5s;
}

.agregar-palabra:hover {
    transition: 0.5s;
    transform: scale(1.1) rotate(2deg);
}

/* BOTONERA SECCIÓN AGREGAR PALABRAS */

.botonera {
    display: flex;
    flex-direction: column;
}

.validacion {
    margin-top: 15px;
}

.botones {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 10px;
}

.btn-guardar {
    background-color: rgb(6, 197, 245);
    color: rgb(29, 61, 70);
    transition: 0.5s;
}

.btn-guardar:hover {
    transition: 0.5s;
    transform: scale(1.1) rotate(-2deg);
}

.btn-guardar-seguir {
    background-color: rgb(0, 247, 123);
    color: rgb(3, 78, 41);
    transition: 0.5s;
}
.btn-guardar-seguir:hover {
    transform: scale(1.1) rotate(2deg);
    transition: 0.5s;
}

.btn-cancelar {
    background-color: orange;
    color: rgb(105, 44, 3);
    transition: 0.5s;
}

.btn-cancelar:hover {
    transition: 0.5s;
    transform: scale(1.1) rotate(2deg);
}

.btn-cancelar,
.btn-guardar,
.btn-nuevojuego,
.btn-volver {
    margin: 5px;
}

.input-secreto {
    color: transparent;
    background: none;
    border: none;
}

.input-secreto:focus {
    outline: none;
}

/* BOTONERA SECCIÓN AHORCADO */
.btn-nuevojuego {
    background-color: rgb(6, 197, 245);
    color: rgb(29, 61, 70);
    transition: 0.5s;
}

.btn-nuevojuego:hover {
    transition: 0.5s;
    transform: scale(1.1) rotate(-2deg);
}

.btn-volver {
    background-color: orange;
    color: rgb(105, 44, 3);
    transition: 0.5s;
}

.btn-volver:hover {
    transition: 0.5s;
    transform: scale(1.1) rotate(2deg);
}

/* SECCIÓN AHORCADO */
.juego-ahorcado {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}

.contenedor-ahorcado {
    width: 60%;
    height: 280px;
}
.contenedor-letras {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.letra {
    height: 50px;
    display: flex;
    justify-content: center;
}
.inputs {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contenedor-box {
    margin: 2px;
    width: 6%;
    display: flex;
    justify-content: center;
}

.box {
    background: none;
    width: 35px;
    height: 35px;
    margin: 0;
    background-color: none;
    font-family: 'Pangolin', cursive;
    color: transparent;
    text-align: center;
    font-size: 40px;
    user-select: none;
    border: none;
    border-bottom: 2px solid rgb(253, 253, 153);
}

.letra-visible {
    color: white;
}

.letra-error-parrafo {
    color: white;
    font-size: 25px;
    font-family: 'Pangolin', cursive;
    margin: 10px;
    margin-top: 20px;
}

.botones-ahorcado {
    width: 100%;
    display: flex;
    justify-content: center;
}





/* SECCIÓN AGREGAR PALABRAS */
textarea {
    background-color: rgba(204, 204, 204, 0.377);
    border: none;
    resize: none;
    padding: 20px;
    border-radius: 7px;
    color: white;
    font-family: 'Pangolin', cursive;
}

textarea:active {
    border: none;
}

textarea::placeholder {
    color: white;
    font-family: 'Pangolin', cursive;
}

.texto-validacion {
    font-family: 'Pangolin', cursive;
    color: white;
    margin-left: 5px;
}



/* FOOTER */

footer {
    background-color: #333333;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    text-align: center;
    width: 100%;
}

/* MODAL */
.modal-no-word,
.modal-guardado-exitoso,
.modal-aviso,
.modal,
.modal-ganaste {  
    position: fixed;
    top: 0;
    left: 0;  
    height: 100vh;
    width: 100%; 
    z-index: 30;
    background-color: rgba(34, 31, 31, 0.301);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    animation: popup 0.17s;
}

    @keyframes popup {
    0%{
        transform: scale(0.4);
    }
    50%{
        transform: scale(0.7);
    }
    100%{
        transform: scale(1);
    }
    }

.center {
    background-color: white;
    width: 30%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}


.cancelar-modal,
.continuar-modal {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 20px;
}

.inicio-modal,
.volver-jugar-modal {
    margin-top: 25px;
    transition: 0.5s;
}

.cancelar-modal {
    background-color: #da2139;
    color: white;
}

.volver-jugar-modal,
.continuar-modal {
    background-color: #0bb84d;
    color: white;
}

.texto-modal {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

.icono {
    margin-bottom: 10px;
}

.icono svg {
    width: 30px;
    height: 30px;
}

.title,
.description {
    font-family: 'Montserrat', sans-serif;
}

.title {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold;
}

.description {
    margin: 5px;
    text-align: center;
    padding: 10px;
}

/* MODAL GANASTE */
.inicio-modal {
    background-color: #af06a1;
    color: white;
}

.inicio-modal:hover {
    transition: 0.5s;
    transform: scale(1.1) rotate(-2deg);
}

.volver-jugar-modal:hover {
    transition: 0.5s;
    transform: scale(1.1) rotate(2deg);
}


/* MUÑECO AHORCADO */

.ahorcado {
    width: 100%;
    height: 55vh;
    z-index: 10;
}

.line-1 {
    position: absolute;
width: 4.5px;
height: 19rem;
left: 550.67px;
top: 3rem;
background: white;
  }

.line-2 {
    position: absolute;
width: 177.75px;
height: 4.5px;
left: 550.67px;
top: 3rem;

background: white;
border-radius: 8px;
}

.line-3 {
    position: absolute;
width: 4.5px;
height: 49.5px;
left: 725.92px;
top: 3rem;

background: white;
border-radius: 8px;
}

.head {
    position: absolute;
width: 50px;
height: 50px;
left: 43.95em;
top: 6rem;
border-radius: 50%;
border: 5px solid white;

}

.arm-l {
    position: absolute;
width: 4.5px;
height: 72px;
left: 705.75px;
top: 8.7rem;
background: white;
border-radius: 8px;
transform: rotate(30deg);

}

.arm-r {
    position: absolute;
width: 4.5px;
height: 72px;
left: 744.52px;
top: 8.7rem;
background: white;
border-radius: 8px;
transform: matrix(-0.87, 0.5, 0.5, 0.87, 0, 0);
}

.body {
    position: absolute;
width: 4.5px;
height: 85px;
left: 725.52px;
top: 9rem;
background: white;

}

.leg-l {
    position: absolute;
width: 4.5px;
height: 72px;
left: 706.75px;
top: 14rem;
background: white;
border-radius: 8px;
transform: rotate(30deg);
}

.leg-r {
    position: absolute;
width: 4.5px;
height: 72px;
left: 743.52px;
top: 14rem;
background: white;
border-radius: 8px;
transform: matrix(-0.87, 0.5, 0.5, 0.87, 0, 0);

}

.base {
    position: absolute;
    width: 370px;
    height: 5px;
    left: 495px;
    top: 22rem;
    background: white;
    border-radius: 8px;
}


/* CLASE PARA ESCONDER SECCIONES */
.escondido {
    display: none;
}

/* TECLADO */
.teclado {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 5px;
}

.input-teclado {
    font-family: 'Pangolin', cursive;
    width: 42px;
    height: 42px;
    font-size: 21px;
    border-radius: 50%;
    border: none;
    background-color: white;
    padding: 13.2px;
    margin: 2px;
    color: black;
    user-select: none;
}

.input-teclado:active {
    /* box-shadow: 2px 5px 10px pink; */
    transform: scale(1.1);
}

/* MEDIAQUERIES */

/* CELULARES */

@media only screen and (max-width: 554px) {


    main {
        height: 210vh;
    }

    .icono-alura path {
        fill: #3A5244;
    }

    /* INICIO */
    .botonera-inicio {
        height: 100vh;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .botonera-inicio h1 {
        width: 100%;
        text-align: center;
    }

    .botones-inicio {
        margin-top: 100px;
        height: 20vh;
        justify-content: center;
    }
    
    .iniciar-juego {
        width: 70%;
        height: 40%;
        font-size: 30px;
    }

    .agregar-palabra {
        width: 60%;
        height: 30%;
        font-size: 25px;
    }

    .center {
        width: 80%;
    }

    .botones-ahorcado {
        flex-direction: column;
        align-items: center;
        height: 12vh;
    }
    
    .botones-ahorcado button {
        width: 85%;
        height: 60%;
        font-size: 22px;
    }

    .contenedor-letras {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 30vh;
    }
    
    .letra {
        height: 50px;
        display: flex;
        justify-content: center;
    }

    .inputs {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 20vh;
        flex-wrap: wrap;
    }
    
    .contenedor-box {
        margin: 2px;
        width: 20%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: 40%;
        align-items: end;
    }
    .box {
        background: none;
        width: 65px;
        height: 65px;
        margin: 0;
        background-color: none;
        font-family: 'Pangolin', cursive;
        color: white;
        text-align: center;
        font-size: 40px;
        user-select: none;
        border: none;
        border-bottom: 2px solid rgb(253, 253, 153);
    }

    /* AGREGAR PALABRA */
    .formulario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 120vh;
    }

    textarea {
        width: 90%;
        margin-bottom: 10px;
    }

    textarea::placeholder {
        font-size: 22px;
    }

    .botones {
        padding: 5px;
        width: 100%;
        flex-direction: column;
        
    }

    .botonera {
        width: 90%;
    }

    .botones button {
        font-size: 22px;
        width: 100%;
        height: 50%;
        margin: 10px;
    }

    .contenedor-ahorcado {
        height: 650px;
    }

    .teclado {
        margin-bottom: 20px;
    }


    .input-teclado {
        width: 50px;
        height: 50px;
        padding: 15.5px;
        font-size: 23px;
        margin: 3px;
    }

    /* AHORCADO */

    .ahorcado {
        height: 100vh;
    }
    
    .line-1 {
    width: 4.5px;
    height: 25rem;
    left: 87px;
    top: 20rem;
    background: white;
    }
    
    .line-2 {
    width: 218px;
    left: 87px;
    top: 20rem;
    }
    
    .line-3 {
    left: 300px;
    top: 20rem;
    }
    
    .head {
        position: absolute;
    width: 70px;
    height: 70px;
    left: 16.75em;
    top: 23rem;
    border-radius: 50%;
    border: 5px solid white;
    
    }
    
    .arm-l {
        position: absolute;
    width: 4.5px;
    height: 72px;
    left: 278px;
    top: 27rem;
    background: white;
    border-radius: 8px;
    transform: rotate(30deg);
    
    }
    
    .arm-r {
        position: absolute;
    width: 4.5px;
    height: 72px;
    left: 320px;
    top: 27rem;
    background: white;
    border-radius: 8px;
    transform: matrix(-0.87, 0.5, 0.5, 0.87, 0, 0);
    }
    
    .body {
        position: absolute;
    width: 4.5px;
    height: 150px;
    left: 299px;
    top: 27.2rem;
    background: white;
    
    }
    
    .leg-l {
        position: absolute;
    width: 4.5px;
    height: 72px;
    left: 280px;
    top: 36.2rem;
    background: white;
    border-radius: 8px;
    transform: rotate(30deg);
    }
    
    .leg-r {
    width: 4.5px;
    height: 72px;
    left: 319px;
    top: 36.2rem;
    background: white;
    border-radius: 8px;
    transform: matrix(-0.87, 0.5, 0.5, 0.87, 0, 0);
    
    }
    
    .base {
        position: absolute;
        width: 320px;
        height: 3px;
        left: 19px;
        top: 45rem;
        background: white;
        border-radius: 8px;
    }

    /* AGREGAR PALABRA */

    
    
    
    .escondido {
        display: none;
    }
    
}

/* PANTALLAS MEDIANAS */

@media (min-width: 554px) and (max-width: 1200px) {


    main {
        height: 210vh;
    }

    .icono-alura path {
        fill: #3A5244;
    }

    /* INICIO */
    .botonera-inicio {
        height: 100vh;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .botonera-inicio h1 {
        width: 100%;
        text-align: center;
    }

    .botones-inicio {
        margin-top: 100px;
        height: 20vh;
        justify-content: center;
    }
    
    .iniciar-juego {
        width: 70%;
        height: 60%;
        font-size: 30px;
    }

    .agregar-palabra {
        width: 60%;
        height: 40%;
        font-size: 25px;
    }

    .center {
        width: 80%;
    }

    .contenedor-ahorcado {
        height: 1000px;
    }


    .input-teclado {
        width: 50px;
        height: 50px;
        padding: 15.5px;
        font-size: 23px;
        margin: 3px;
    }

    .input-teclado .menos-padding  {
        padding: 5px;
        background-color: red;
    }

    .botones-ahorcado {
        flex-direction: column;
        align-items: center;
    }
    
    .botones-ahorcado button {
        width: 80%;
    }

    

    .contenedor-letras {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 30vh;
    }
    
    .letra {
        height: 50px;
        display: flex;
        justify-content: center;
    }

    .inputs {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 20vh;
        flex-wrap: wrap;
    }
    
    .contenedor-box {
        margin: 2px;
        width: 20%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: 40%;
        align-items: end;
    }
    .box {
        background: none;
        width: 65px;
        height: 65px;
        margin: 0;
        background-color: none;
        font-family: 'Pangolin', cursive;
        color: white;
        text-align: center;
        font-size: 40px;
        user-select: none;
        border: none;
        border-bottom: 2px solid rgb(253, 253, 153);
    }

    .botonera-inicio h1 {
        font-size: 70px;
        margin-top: 60px;
    }

    .botones-ahorcado {
        height: 20vh;
    }

    .botones-ahorcado button {
        height: 30%;
        font-size: 22px;
    }

    .letra p {
        font-size: 32px;
    }

    /* AGREGAR PALABRA */
    .formulario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 120vh;
    }

    textarea {
        width: 90%;
        margin-bottom: 10px;
    }

    textarea::placeholder {
        font-size: 22px;
    }

    .botones {
        padding: 5px;
        width: 100%;
        flex-direction: column;
        
    }

    .botonera {
        width: 90%;
    }

    .botones button {
        font-size: 22px;
        width: 100%;
        height: 50%;
        margin: 10px;
    }

    /* AHORCADO */

    .ahorcado {
        height: 100vh;
    }
    
    .line-1 {
    width: 4.5px;
    height: 35rem;
    left: 87px;
    top: 30rem;
    background: white;
    }
    
    .line-2 {
    width: 485px;
    left: 87px;
    top: 30rem;
    }
    
    .line-3 {
    height: 125px;
    left: 567px;
    top: 30rem;
    }
    
    .head {
        position: absolute;
    width: 120px;
    height: 120px;
    left: 31.79em;
    top: 37.5rem;
    border-radius: 50%;
    border: 5px solid white;
    
    }
    
    .arm-l {
        position: absolute;
    width: 4.5px;
    height: 100px;
    left: 33.5em;
    top: 44.5rem;
    background: white;
    border-radius: 8px;
    transform: rotate(30deg);
    
    }
    
    .arm-r {
        position: absolute;
    width: 4.5px;
    height: 100px;
    left: 37.1em;
    top: 44.57rem;
    background: white;
    border-radius: 8px;
    transform: matrix(-0.87, 0.5, 0.5, 0.87, 0, 0);
    }
    
    .body {
        position: absolute;
    width: 4.5px;
    height: 150px;
    left: 35.3em;
    top: 45rem;
    background: white;
    
    }
    
    .leg-l {
        position: absolute;
    width: 4.5px;
    height: 120px;
    left: 33.4em;
    top: 53.8rem;
    background: white;
    border-radius: 8px;
    transform: rotate(30deg);
    }
    
    .leg-r {
    width: 4.5px;
    height: 120px;
    left: 37.2em;
    top: 53.8rem;
    background: white;
    border-radius: 8px;
    transform: matrix(-0.87, 0.5, 0.5, 0.87, 0, 0);
    
    }
    
    .base {
        position: absolute;
        width: 500px;
        height: 5px;
        left: 4em;
        top: 65rem;
        background: white;
        border-radius: 8px;
    }

    /* AGREGAR PALABRA */

    
    
    
    .escondido {
        display: none;
    }
    
}
